<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28355756107-6qqtulknpjrjjivqnfma78jscvskfu77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28355756107-6qqtulknpjrjjivqnfma78jscvskfu77</string>
	<key>API_KEY</key>
	<string>AIzaSyCyAjR-DenB7WUREhWMc25qKXLhGHPkwd4</string>
	<key>GCM_SENDER_ID</key>
	<string>28355756107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.konnectent.kd</string>
	<key>PROJECT_ID</key>
	<string>konnectent7459</string>
	<key>STORAGE_BUCKET</key>
	<string>konnectent7459.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28355756107:ios:b93f398c28da954bebcdce</string>
</dict>
</plist>